:root {
    --primary-background-color: #1F1F1F;
    --secondary-background-color: #121212;
    --card-background-color: #FFFFFF;

    --primary-text-color: #5f4c80;
    --accent-text-color: #ba85fa;
}