#crawl {
    width: 50vw;
    height: 500px;
    overflow: hidden;
}

.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 1600px;
    width: 50vw;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 300%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
}

.crawl {
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear infinite;
}

.crawl > .title {
    font-size: 90%;
    text-align: center;
}

.crawl > .title h1 {
    margin: 0 0 50px;
    font-family: "Death Star", sans-serif;
    text-transform: uppercase;
}

@keyframes crawl {
    0% {
        top: -100px;
        transform: rotateX(20deg)  translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}